<html !DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    * {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .active {
        font-weight: bold;
        color: orangered !important;
    }

    .btn-orange {
        color: white;
        background: orangered !important;
    }

    .text-orange {
        color: orangered;
    }

    body {
        background: gainsboro;
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid container-md">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.jpg" class="ms-3" width="50px" height="50px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mx-auto text-center">
                    <li>
                        <a class="nav-link" aria-current="page" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard">Dashboard</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="./Emteam">Employee Management</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="./Tasktodo">Task List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./RJobs">Recruitement</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </nav>

    <header class="bg-white">
        <div class="container-fluid container-md  ">
            <ul class="nav text-center d-flex justify-content-center p-2">
                <li><a href="./RJobs" class="nav-link  text-secondary">Jobs</a></li>
                <li><a href="./Rcandidates" class="nav-link active ">Candidates</a></li>
            </ul>
        </div>
    </header>

    <main class="container-fluid container-md mt-4 bg-white">
        <!-- <div class="">
            <header class="p-4 bg-white">
                <form class="d-flex ">

                    <input class="form-control" style="max-width: 300px;" type="search" placeholder="Search"
                        aria-label="Search">
                </form>
            </header>
        </div> -->
        <div class="">
            <table class="table table-hover">
                <tr>
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Education</th>
                        <th scope="col">Departement</th>
                        <th scope="col">Employee Type</th>
                        <th scope="col">View More</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Action</th>
                    </thead>
                </tr>
                <% if(data.length> 0){ %>
                    <% data.forEach(element=> { %>
                        <tr>
                            <tbody>
                                <td>
                                    <%= element.full_name %>
                                </td>
                                <td>
                                    <%= element.email %>
                                </td>
                                <td>
                                    <%= element.education_level %>
                                </td>
                                <td>
                                    <%= element.department %>
                                </td>
                                <td>
                                    <%= element.employment_type %>
                                </td>
                                <td>
                                    <a href="detailsCandidate/<%= element.id  %> %>">
                                        View More
                                    </a>
                                </td>
                                <td>
                                    <a href="deleteCandidate?user=<%= element.id  %>&&job=<%= element.jobid %>"
                                        class="text-danger">
                                        Delete
                                    </a>
                                </td>
                                <td>
                                    <a href="mailAppl?email=<%= element.email %>&&user=<%= element.id %>&&job=<%= element.jobid %>"
                                        class="btn btn-success">Accept</a>
                                </td>
                            </tbody>
                        </tr>
                        <% }); %>
                            <% }else{ %>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <h1>No Candidates</h1>
                                    </td>
                                </tr>
                                <% } %>
            </table>
        </div>
    </main>

    <div class=" container-fluid bg-dark" style="margin-top: 100vh;">
        <footer class="row row-cols-5 py-5 mt-5 mx-md-5 border-top text-white">
            <div class="col text-white">
                <a href="/" class="d-flex align-items-center mb-3 text-white text-decoration-none"><img
                        src="./assets/logo.jpg" width="60px" height="60px" alt="">
                </a>
                <p class="text-white">&copy; 2021</p>
            </div>

            <div class="col">
            </div>

            <div class="col ">
                <h5>Product</h5>
                <ul class="nav flex-column ">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Pricing</a></li>
                </ul>
            </div>

            <div class="col">
                <h5>Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Blog</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">User grades</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Webinars</a></li>
                </ul>
            </div>

            <div class="col">
                <h5>Platform</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Parterners &
                            Integration</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Become a partner</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Developer Api</a></li>
                </ul>
            </div>
        </footer>
    </div>

</body>

<l>